<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Tools</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}

<h1>Password Analyzer</h1>

<form method="POST" action="/password/analyze"> <!--kullanici butona bastiginda veriyi POST/password/analyze adresine gonderecek -->

    <label for="password">Password</label>

    <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter password"
        required
    >

    <button type="submit">Analyze</button>
    <button type="button" id="togglePassword">Show</button>

</form>

{% if result %}

<h2>Analysis Result</h2>
<p>Length: {{result.length}} </p>
<p>Uppercase: {{result.uppercase}}</p>
<p>Lowercase: {{result.lowercase}}</p>
<p>Numbers: {{result.numbers}}</p>
<p>Special Characters: {{result.special}}</p>
<p>Strength: {{result.strength}}</p>
<p>Predictability: {{result.predictability}}</p>

{% endif %}

<form method="POST" action="/password/hash">
    <label for="password">Password Hashing</label>
    <input
        type="password"
        name="password"
        placeholder="Enter password"
        required
    >
    <label for="hash_algorithms">Algorithm</label>

    <select id="hash_algorithms" name="algorithm"> <!--name=algorithm cunku python kodunda algorithm = request.form.get("algorithm") oldugu icin -->
        <option value="argon2">Argon2id</option>
        <option value="bcrypt">bcrypt</option>
        <option value="scrypt">scrypt</option>
        <option value="pbkdf2">PBKDF2</option>
    </select>
    <button type="submit">Hash Password</button>
</form>

{% if hashed_password %}
    <h2>Generated Hash</h2>
    <p>{{ hashed_password }}</p>
{% endif %}

<!--sifreninn gorunurlugu icin -->
<script>
    const passwordInput = document.getElementById("password");
    const togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            togglePassword.textContent = "Show";
        }

    });
</script>


{% endblock %}

</body>
</html>

